<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AdiumSetVersion</key>
    <integer>1</integer>
    <key>Emoticons</key>
    <dict>
    #foreach ($smiley in ${config.smileys})
        <key>${smiley.localCopy.name}</key>
        <dict>
            <key>Equivalents</key>
            <array>
                #foreach ($keyword in ${smiley.Keywords})
                  #if ($smiley.hasCompleteKeywords())
                    <string>$keyword</string>
                  #else
                    <string>:$keyword:</string>
                    <string>[:$keyword]</string>
                  #end
                #end
            </array>
            <key>Name</key>
            <string>${smiley.filenameWithoutExtension}</string>
        </dict>
    #end
    </dict>
</dict>
</plist>
